{% extends 'base.html' %}


{% block head %}
	<link rel="stylesheet" type="text/css" href="/css/browse.css">
{% endblock %}

{% block content %}
	<div class="main">
		<div class="info-bar columns large-3">
			<center>
				<h3>Pretty Resume</h3>
			</center>
			<div class="home"><a href="/"><i class="fa fa-home"></i></a></div>
			<div id="tag-container" class="row">
				<div class="tag-label">Requested tags: <span><i class="add-tags fa fa-plus"></i></span></div>

				<div class="add-tag-field">
					<form id='tag-form' action="" method="get" >
						<div class="ui-widget">
							<input id="add-tag-input" type="text" placeholder="Enter tag here..." name="tags">
						</div>
					</form>
				</div>
				<div class="req-tag tag-span-container large-9">
					{% for tag in search_tags %}
						<span draggable="true" class="tag-span"><span class="remove"><i class="fa fa-times"></i></span>{{ tag }}</span>
					{% endfor %}
				</div>
			</div>

			{% if not warning %}
			<div id="tag-container" class="row">
				<div class="tag-label">Document tags: </div>
				<div class="tag-span-container large-9">
					{% for tag in resume.tags %}
						<span draggable="true" class="tag-span">{{ tag }}</span>
					{% endfor %}
				</div>
			</div>

			<div class="rating-container">
				<center>
					<div class="rating-box">
						<div class="rating-label">Aesthetics</div>
						<div class="aesthetic_rating"></div>
					</div>
					
					<div class="rating-box">
						<div class="rating-label">Content</div>
						<div class="content_rating"></div>
					</div>

					<div class="rating-box">
						<div class="rating-label">Grammar</div>
						<div class="grammar_rating"></div>
					</div>
				</center>
			</div>

			<div class="comment-container">
				<h4>Comments</h4>
				{% if resume.comments %}
					<div class="comment-pane">
						{% for comment in resume.comments %}
							<div class='comment'>{{comment}}</div>
						{% endfor %}
					</div>
				{% else %}
					<p>There are currently no comments D:</p>
				{% endif %}

				<div class="comment-label">Comment</div>
				<form action="/upload" id="usrform" method="POST">
					<input type="hidden" name="_method" value="PUT">
					<input type="hidden" name="file" value="{{resume.file_name}}">
					<div class="comment-area-pane">
						<textarea class="comment-text" name="comment" placeholder="Enter comment here..." form="usrform"></textarea>
						<input class='button success' type="submit">
					</div>
				</form>
			</div>
			{% endif %}
			
		</div> <!-- info bar -->

		<div class="pdf-pane columns large-9">

			{% if not warning %}
			<div class="nav-button" id="right">
				<i class="fa fa-arrow-right"></i>
			</div>

			<div class="nav-button" id="left">
				<i class="fa fa-arrow-left"></i>
			</div>
			{% endif %}
			<!-- <p>{{ resume|json(4) }}</p> -->
			<div id="pdf">
				{% if warning %}
					<p>there is nothing that matches your search.</p>
				{% else %}
					<object	data="/uploads/{{ resume.file_name }}" type="application/pdf" width="100%" height="100%">
				{% endif %}
			</div>
		</div> <!-- pdf pane -->

	</div> <!-- main -->
{% endblock %}

{% block end_scripts %}
	<script type="text/javascript" src="/scripts/jquery.raty-fa.js"></script>
	<script type="text/javascript" src="https://rawgit.com/websanova/js-url/master/url.min.js"></script>
	<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
	<script type="text/javascript">
		var aesthetic_rating = {{ resume.ratings.aesthetics.sum }} / {{ resume.ratings.aesthetics.count }};
		var content_rating = {{ resume.ratings.content.sum }} / {{ resume.ratings.content.count }};
		var grammar_rating = {{ resume.ratings.grammar.sum }} / {{ resume.ratings.grammar.count }};
		var result_count = {{ count }}
		var current_file_name = "{{ resume.file_name }}";

		$(document).foundation();

		function handle_raty_click(obj, score) {
			var data_dict = {
				file: current_file_name
			}
			data_dict[obj.className]=score;

			$.ajax({
				type: 'PUT',
				url: '/upload',
				data: data_dict,
				success: function (data) {
					$(obj).css('color', '#FFBF00')
				},
				error: function(err) {
					console.log(err)
				}
			});	
		} //handle raty click
		
		$('.rating-container .aesthetic_rating').raty({
			half: true,
			size: 34,
			score: aesthetic_rating,
			click: function(score, e) {
				handle_raty_click($(this)[0], score)
			}
		})
		$('.rating-container .content_rating').raty({
			half: true,
			size: 34,
			score: content_rating,
			click: function(score, e) {
				handle_raty_click($(this)[0], score)
			}
		})
		$('.rating-container .grammar_rating').raty({
			half: true,
			size: 34,
			score: grammar_rating,
			click: function(score, e) {
				handle_raty_click($(this)[0], score)
			}
		})
		var current_listing = parseInt(document.URL.split('/')[4]);

		$(".nav-button").click(function() {
			current_listing = parseInt(document.URL.split('/')[4]);
			current_query = document.URL.split('?')[1] || ''
			if (current_query) {
				current_query = '?'+current_query
			}
			console.log(current_query)
			if (this.id === 'left' && current_listing > 0) {
				window.location.href = '/browse/'+(current_listing-1) + current_query;
			} else if (this.id === 'right') {
				window.location.href = '/browse/'+(current_listing+1) + current_query;
			}
		});

		if (current_listing === 0) {
			$('#left').hide()
		}

		if (result_count <= current_listing+1) {
			$('#right').hide()
		}

		var tags = [];
		var urlParams;
		(window.onpopstate = function () {
		    var match,
		        pl     = /\+/g,  // Regex for replacing addition symbol with a space
		        search = /([^&=]+)=?([^&]*)/g,
		        decode = function (s) { return decodeURIComponent(s.replace(pl, " ")); },
		        query  = window.location.search.substring(1);

		    urlParams = {};
		    while (match = search.exec(query))
		       urlParams[decode(match[1])] = decode(match[2]);
		})();

		$('#tag-form').submit(function(e) {
			var value = $(e.currentTarget).find('[name=tags]')[0].value
			e.preventDefault()
			window.location.href = '/browse/0'+add_tag_to_query(value)
		})


		$( "#add-tag-input" ).autocomplete({
			source: '/tags'
		});
		 $('.ui-autocomplete').addClass('f-dropdown bottom-align-left');

		function add_tag_to_query(tag) {
			tag = tag.toLowerCase();
			var query = url('?')
			if (!query) {
				query = 'tags='+tag
			} else {
				query = query+','+tag
			}
			return '?'+query
		}

		function remove_tag_from_query(undesired) {
			if (url('?').indexOf('='+undesired) > -1) {
				var query = url('?').replace(undesired, '')
			} else {
				var query = url('?').replace(','+undesired, '')
			}
			if (query === 'tags=' || query === 'tags=,' || query === 'tags=,,') {
				return ''
			} else {
				return '?'+query
			}
		}

		$('.add-tags').click(function() {
			$('#tag-form input').show(100);
		})

		$('.tag-span .remove').click(function(e) {
			console.log($(this).parent()[0].innerText)
			var selected_tag = $(this).parent()[0].innerText
			window.location.href = '/browse/0'+remove_tag_from_query(selected_tag)
		})

		
	</script>
{% endblock %}