<!DOCTYPE html>
<html>
<head>
	<title>Open Resume</title>
	<meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">
	<link rel="stylesheet" href="/bower_components/foundation/css/foundation.css">
	<link rel="stylesheet" href="/bower_components/fontawesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="/styles/css/style.css">
	<link href='http://fonts.googleapis.com/css?family=Oswald:700,400,300' rel='stylesheet' type='text/css'>
	<script src="/bower_components/modernizr/modernizr.js"></script>
</head>
<body>
	<div>Please upload your resume.</div>
	<form name="input" action="/upload" method="POST">
		file location:  <input type="file" name="file"><br>
    	rating: <input type="number" name="rating"><br>
    	tags: <input type="text" name="tags"><br>
		<input type="submit" value="Submit">
	</form>
	<script src="/bower_components/jquery/dist/jquery.min.js"></script>
	<script src="/bower_components/foundation/js/foundation.min.js"></script>
	<script src="/scripts/pane-replace.js"></script>
</body>
</html>